<div>
    <iframe width="100%" height="300"  [src]="video.Url | safe"> 
      </iframe>
</div>
<div>
  <form>
    <div *ngIf="editTitle" class="form-group">
      <input type="input" class="form-control" name="title" required placeholder="Title"
      [(ngModel)]="video.Title">
    </div>
    <h3 *ngIf="!editTitle" (click)="onTitleClick()">{{video.Title}}</h3>
    <div class="form-group">
      <input type="input" class="form-control" name="url" required placeholder="Url"
      [(ngModel)]="video.Url">
    </div>

    <div class="form-group">
      <textarea rows="5" class="form-control" name="desc" required placeholder="Descreption"
      [(ngModel)]="video.Descreption"></textarea>
    </div>
      <button type="button" (click)="updateVideo()" class="btn btn-primary">Update</button>
  </form>
</div>