<div class="row">
  <div class="col-sm-9">
      <div *ngIf="!hidenNewVideo">
        <h2>New Video</h2>
          <form #form="ngForm" class="well"  (ngSubmit)="onSubmitAddVideo(form.value)">
            <div class="form-group">
              <label>Title</label>
              <input type="input" class="form-control" name="title" required placeholder="Title" ngModel>
            </div>
            <div class="form-group">
                <label>Url</label>
              <input type="input" class="form-control" name="url" required placeholder="Url" ngModel>
            </div>
        
            <div class="form-group">
                <label>Descreption</label>
              <input class="form-control" name="desc" required placeholder="Descreption" ngModel>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        
          </form>
        </div>
    <video-detail *ngIf="selectedVideo && hidenNewVideo" [video]="selectedVideo" ></video-detail>
    <h3>{{errorMsg}}</h3>
  </div>
  <div class="col-sm-3">
    <button (click)="newVideo()" style="margin-bottom:2px;" type="button" class="btn btn-primary" >+ New Video</button>
    <video-list (SelectVideo)="onSelectVideo($event)" [videos] ="videos" ></video-list>
  </div>
</div>

